<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body class="row">
    <header class="header">
        <div class="title">
          <h1>Top 5 videojuegos</h1>
        </div>
        <div class="icon">
          <img class="iconoheader" src="../img/palanca-de-mando.png" alt="Icono de la Web">
        </div>
        <nav class="links">
            <a class="link" href="../view/videojoc1.html"><button class="button">FIFA 23</button></a>
            <a class="link" href="../view/videojoc2.html"><button class="button">NBA 2K23</button></a>
            <a class="link" href="../view/videojoc3.html"><button class="button">GTA 5</button></a>
            <a class="link" href="../view/videojoc4.html"><button class="button">UFC</button></a>
            <a class="link" href="../index.html"><button class="button">Inicio</button></a>
          </nav>
      </header>
      <br>
      <br>
        <div>
            <div class="descript-WD2">
                Watch Dogs 2
            </div>
            <br>
            <br>
            <div class="column1">
                <div class="imgsubcuad">
                    <img class="imgsub" src="../img/watch-dogs-2-20161114174326_1.jpg">
                </div>
                <div class="imgsubcuad descriptWD2">
                    <h1>
                        Watch Dogs 2 (estilizado como WATCH_DOGS 2) es un videojuego de mundo abierto y acción-aventura desarrollado por Ubisoft Montreal y distribuido por Ubisoft para las plataformas Microsoft Windows, PlayStation 4 y Xbox One. Es la secuela de Watch Dogs que fue lanzado a la venta el 15 de noviembre de 2016. Es de mundo abierto, sigilo y de disparos en tercera persona estando ambientado en la ciudad de San Francisco. El jugador encarna a Marcus Holloway, un hacker que se une al grupo hacktivista DedSec para descubrir y revelar al público los manejos del Sistema Operativo ctOS e investigar como el Estado y las empresas utilizan la información recolectada para controlar a la población.
                    </h1>
                </div>
            </div>
            <br>
            <br>
            <div class="videocuad">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/A_XUY_YJROI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
</body>
</html>