<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body class="row">
    <header class="header">
        <div class="title">
          <h1>Top 5 videojuegos</h1>
        </div>
        <div class="icon">
          <img class="iconoheader" src="../img/palanca-de-mando.png" alt="Icono de la Web">
        </div>
        <nav class="links">
            <a class="link" href="../view/videojoc1.html"><button class="button">FIFA 23</button></a>
            <a class="link" href="../view/videojoc2.html"><button class="button">NBA 2K23</button></a>
            <a class="link" href="../view/videojoc3.html"><button class="button">GTA 5</button></a>
            
            <a class="link" href="../view/videojoc5.html"><button class="button">Watch Dogs 2</button></a>
            <a class="link" href="../index.html"><button class="button">Inicio</button></a>
          </nav>
      </header>
      <br>
      <br>
        <div>
            <div class="descript">
                UFC
            </div>
            <br>
            <br>
            <div class="column1">
                <div class="imgsubcuad">
                    <img class="imgsub" src="../img/portada_UFC.jpg">
                </div>
                <div class="imgsubcuad descript2">
                    <h1>
                        EA Sports UFC es un videojuego de artes marciales mixtas desarrollado conjuntamente entre EA Canada y SkyBox Labs, y distribuido por EA Sports para PlayStation 4 y Xbox One. Se basa en la marca Ultimate Fighting Championship (UFC) y fue lanzado el 17 de junio de 2014 en Norteamérica y el 20 en Europa. Es el primer juego de UFC desde que THQ vendiera la licencia a Electronic Arts.
                    </h1>
                </div>
            </div>
            <br>
            <br>
            <div class="videocuad">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TgAu0Dguin0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
</body>
</html>