<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body class="row">
    <header class="header">
        <div class="title">
          <h1>Top 5 videojuegos</h1>
        </div>
        <div class="icon">
          <img class="iconoheader" src="../img/palanca-de-mando.png" alt="Icono de la Web">
        </div>
        <nav class="links">
            <a class="link" href="../view/videojoc1.html"><button class="button">FIFA 23</button></a>
            <a class="link" href="../view/videojoc2.html"><button class="button">NBA 2K23</button></a>
            
            <a class="link" href="../view/videojoc4.html"><button class="button">UFC</button></a>
            <a class="link" href="../view/videojoc5.html"><button class="button">Watch Dogs 2</button></a>
            <a class="link" href="../index.html"><button class="button">Inicio</button></a>
          </nav>
      </header>
      <br>
      <br>
        <div>
            <div class="descript">
                GTA5
            </div>
            <br>
            <br>
            <div class="column1">
                <div class="imgsubcuad">
                    <img class="imgsub" src="../img/portada_GTA5.webp">
                </div>
                <div class="imgsubcuad descriptGTA">
                    <h1>
                        Grand Theft Auto V (abreviado como GTA V o GTA 5) es un videojuego de acción-aventura de mundo abierto en tercera persona desarrollado por el estudio escocés Rockstar North y distribuido por Rockstar Games. Fue lanzado el 17 de septiembre de 2013 para las consolas Xbox 360 y PlayStation 3.4​ Posteriormente, distribuido el 18 de noviembre de 2014 para las consolas de nueva generación Xbox One y PlayStation 4 y la vista en primera persona, luego para Microsoft Windows el 14 de abril de 2015 y finalmente se confirmó su lanzamiento para Xbox Series X/S y PlayStation 5 para marzo de 2022
                    </h1>
                </div>
            </div>
            <br>
            <br>
            <div class="videocuad">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QkkoHAzjnUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
</body>
</html>