<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body class="row">
    <header class="header">
        <div class="title">
          <h1>Top 5 videojuegos</h1>
        </div>
        <div class="icon">
          <img class="iconoheader" src="../img/palanca-de-mando.png" alt="Icono de la Web">
        </div>
        <nav class="links">
            
            <a class="link" href="../view/videojoc2.html"><button class="button">NBA 2K23</button></a>
            <a class="link" href="../view/videojoc3.html"><button class="button">GTA 5</button></a>
            <a class="link" href="../view/videojoc4.html"><button class="button">UFC</button></a>
            <a class="link" href="../view/videojoc5.html"><button class="button">Watch Dogs 2</button></a>
            <a class="link" href="../index.html"><button class="button">Inicio</button></a>
          </nav>
      </header>
      <br>
      <br>
        <div>
            <div class="descript">
                FIFA 23
            </div>
            <br>
            <br>
            <div class="column1">
                <div class="imgsubcuad">
                    <img class="imgsub" src="../img/portada_fifa23.webp">
                </div>
                <div class="imgsubcuad descript2">
                    <h1>
                        FIFA 23 es un videojuego de simulación de fútbol publicado por Electronic Arts. Es la trigésima entrega de la serie FIFA desarrollada por EA Sports, y la última entrega bajo el estandarte de FIFA, y lanzada en todo el mundo el 30 de septiembre de 2022 para PC, Nintendo Switch, PlayStation 4, PlayStation 5, Xbox One, Xbox Series X/S y Google Stadia. Sin embargo, los jugadores que reservaron la Ultimate Edition recibieron tres días de acceso anticipado y pudieron jugar el juego a partir del 27 de septiembre.
                    </h1>
                </div>
            </div>
            <br>
            <br>
            <div class="videocuad">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/fEDLyprRKao" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
</body>
</html>